/** ABOUT DEFAULT STYLES
---------------------------------
*  default.css is used to establish general rules, browser reset, or Admin User interface Styles

   BROWSER RESET
---------------------------------
*  For a more complete reset, go to http://developer.yahoo.com/yui/reset/
*/

* { margin: 0; padding: 0; }

/** Clear Floats Without Structural Markup:
---------------------------------
*  http://www.positioniseverything.net/easyclearing.html
*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* clear classes */

.clearleft, .clearl, .cleft { clear: left; }
.clearright, .clearr, .cright { clear: right; }
.clear, .clearboth, .clearall{ clear: both; }

/* Float classes */

.floatleft, .fleft, .floatl { float: left; margin: 0 10px 5px 0; }
.floatright, .fright, .floatr { float: right; margin: 0 0 5px 10px; }

/** "Skip to Main Content" link
---------------------------------
*  This link useful for both visually impaired people and those with mobility impairments
*  who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/
*/

#skip a, #skip a:hover, #skip a:visited {
  position: absolute;
  left:-10000px;
  top:auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* bug fix with views 2 edit links */

div.view div.views-admin-links {
	width:auto;
}

/** Rollover edit links for blocks */

div.block {
  position: relative;
}
.admin div.block-inner:hover {
  outline:2px solid #99ffa1;
}
div.block .edit {
  display: none;
  position: absolute;
  right: -2px;
  top: -23px;
  z-index: 40;
  padding: 3px 0 3px 10px;
  font-size: 10px;
  line-height:16px;
  background-color: #99ffa1;
  /*let's get fancy !*/
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  height: 17px;
}
div.block .edit a {
  display:block;
  border:0;
  padding:0;
  margin:0 10px 0 0;
  color: #fff;
  display: inline-block;
}
div.block:hover .edit {
  display: block;
}
#header-region div.block .edit {
  position: absolute;
  top:0;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
}
