/** WIREFRAMES STYLE
------------------------------------*/

.with-wireframes #header,
.with-wireframes #content-top,
.with-wireframes #content-top>*,
.with-wireframes #content-header,
.with-wireframes #content-header>*,
.with-wireframes #content-area,
.with-wireframes #content-area>*,
.with-wireframes #content-bottom,
.with-wireframes #content-bottom>*,
.with-wireframes #primary,
.with-wireframes #secondary,
.with-wireframes #sidebar-first,
.with-wireframes #sidebar-second {
  border: 1px solid #61b9e9;
}

.with-wireframes .block,
.with-wireframes #content-top .block,
.with-wireframes #content-bottom .block,
.with-wireframes #content-header .block {
  border: 1px solid #a2d202;
  padding: 5px;
}

.with-wireframes #content-area>* {
  border: 1px solid #ff69ff;
  padding: 5px;
}

.with-wireframes #content-header>* {
  border: 1px solid #ff9329;
}

.with-wireframes .inner {
  margin: 5px;
}

.with-wireframes #navigation {
  border: none;
}

.with-wireframes .node {
  margin-bottom:10px;
}
.with-wireframes .block {
  margin-bottom:3px;
}
.with-wireframes #content-top,
.with-wireframes #content-header,
.with-wireframes #content-area,
.with-wireframes #content-bottom {
  margin:0 0 5px;
  padding: 5px;
}

.with-wireframes div.tabs {
  margin-top: 5px;
}

.with-wireframes #footer {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #61b9e9;
}
.with-wireframes.with-navigation #content,
.with-wireframes.with-navigation .sidebar  {
  margin-top:54px;
}
.with-wireframes #navigation {
  height:54px;
}